.form-control {
  color: white;

  &:focus {
    color: white;
  }
}

.form-check-label {
  font-size: small;
}

.signup {
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}